<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pinterest</title>
  <link rel="shortcut icon" href="https://s.pinimg.com/webapp/favicon_48x48-7470a30d.png" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/lenis@1.1.20/dist/lenis.css">
  <script src="https://cdn.tailwindcss.com"></script>

  <script src="https://kit.fontawesome.com/cfcf372f7f.js" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/lenis@1.1.20/dist/lenis.min.js"></script> 
  <script src="/javascripts/script.js"></script>
</head>

<body class="font-sans">